* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #f4f4f4;
}

a {
    text-decoration: none;
    color: #333;
}

ul {
    list-style: none;
}

.container {
    max-width: 90vw;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
}

.top-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.lower-bar-left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.lower-bar-left ul {
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.lower-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.lower-bar-right {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

.lower-bar-right form {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.lower-bar-right form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.lower-bar-right form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #3EB3EA;
    color: #fff;
    cursor: pointer;
}

.main-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
}

.products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.product-card {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.product-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-radius: 5px;
}

.product-info button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #3EB3EA;
    color: #fff;
    cursor: pointer;
}

.product-details {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-radius: 5px;
    gap:20px;
}


.product-quantity {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.product-quantity button {
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #3EB3EA;
    color: #fff;
    cursor: pointer;
}

.product-quantity input {
    width: 50px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.add-cart-btn button {
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #3EB3EA;
    color: #fff;
    cursor: pointer;
}